	{% extends 'base.html' %}

{% block style %}
	#info{
		text-align:left;
		width:100%;
	}
	
	#info a{
		font-size:12px;
	}

	table{
		width:100%;
	}
	
	#start, #end{
		width:90%;
		height:30px;		
		padding-left: 5px;
		color: #00CAFF;
		font-size:16px;
		margin-top: 15px;
	}
	
	#size *{
		width:45%;
		height:30px;		
		padding-left: 5px;
		color: #00CAFF;
		font-size:16px;
		margin-top: 15px;
	}
	
	table .boton{
		height:30px;
		margin-top: 20px;
		font-size:18px;
		color: #00CAFF;
		position:absolute;
		right:6%;		
	}
	
{% endblock %}
{% block contenido %}
	<div id='info'>
		<p><b>URL:</b> <a href="{{dwx}}">{{dwx}}</a></p>
		<p><b>Mail:</b> {{mail}}</p>
		<p><b>Size:</b> {{size}} Mb</p>
		<p><b>Packs:</b> {{packs}} ::  {{interval}}</p>
	</div>
	<form id="descargar" action="/deskargar/" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<th>
					<label width = 200px for="start">Start:</label>
				</th>
				<td>
					<input id="start" type="number" min='0' max='{{end}}' value='0' name="start"/>
				</td>
				<th>
					<label width = 200px for="end">End:</label>
				</th>
				<td>
					<input id="end" type="number" min='0'  max='{{end}}'  value='{{end}}' name="end"/>
				</td>				
			</tr>
			<tr>
				<td>
					<input colspan="4" type="submit" name="descargar" value="Download"  class="boton" /> 
				</td>
			</tr>
		</table>
		<input id="dwx" type="hidden" name="dwx" value={{dwx}}>
		<input id="mail" type="hidden" name="mail" value={{mail}}>
		<input id="thread" type="hidden" name="thread" value={{thread}}>
		<input id="p" type="hidden" name="p" value={{p}}>
		<input id="youtube" type="hidden" name="youtube" value={{youtube}}>
	</form>	
{% endblock %}
{% block message %}
	{{ message }}
{% endblock %}


