{% extends 'base.html' %}

{% block style %}
	table{
		width:100%;
		text-align:left;
	}
	
	#mail, #dwx{
		width:96%;
		height:30px;
		margin-top: 15px;
		padding-left: 5px;
		color: #0689fb;
		font-size:16px;
	}
	
	#size *{
		width:70px;
		height:30px;		
		padding-left: 5px;
		color: #0689fb;
		font-size:16px;
		margin-top: 15px;
	}
	
	#thread, #youtube{
		height:30px;
		margin-top: 15px;
		color: #0689fb;
		font-size:16px;
	}
	
	table .boton{
		height:30px;
		font-size:18px;
		color: #0689fb;
		position:absolute;
		right:6%;
		bottom:5%;
	}

{% endblock %}
{% block contenido %}
	<form id="descargar" action="/account/asd34y91lk0/data/" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<th> 
					<label width = 200px for="dwx">Download:</label>
				</th>
				<td>
					<input placeholder="download url" id="dwx" type="text" value="{{dwx}}" name="dwx"/>
				</td>
			</tr>
			<tr>
				<th>
					<label for="mail">Mail:</label>
				</th>
				<td>
					<input placeholder="mail to send the download" id="mail" type="email" value="{{mail}}" name="mail"/>
				</td>
			</tr>
			<tr>
				<th>
					<label width = 200px for="size">Size:</label>
				</th>
				<td id="size">
					<input  type="number" min='1' value='1' name="size"/>
					<select name='unit' >
						<option value='kb'>KB</option>
						<option value='mb' selected='selected'>MB</option>
					<select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="descargar" value="Next >>"  class="boton" /> 
				</td>
			</tr>
		</table>
	</form>	
{% endblock %}
{% block message %}
	{{ message }}
{% endblock %}
